@*
    Thread creating page for admin
*@

@inject ILanguageService LanguageService
@inject IThreadsRepository ThreadsRepository

@{
    ViewData["Title"] = LanguageService.GetKey("CreateThread_Title");

    var currentUser = new ClaimsPrincipalWrapper(User);
}

@model CreateThreadViewModel

@if (Model != null &&
    currentUser.IsAdmin())
{
    var allThreads = await ThreadsRepository.GetAllThreads();
    var existingThreadNames = allThreads.Select(x => x.Thread);

    if (existingThreadNames.Any())
    {
        <h4>@LanguageService.GetKey("CreateThread_ExistingThreadNames"):</h4>

        var i = 0;
        foreach (var existingThreadName in existingThreadNames)
        {
            i += 1;

            <div class="thread-button-block">
                <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@existingThreadName" class="btn btn-sm btn-outline-secondary my-button">@i) @existingThreadName</a>
            </div>
        }
    }

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>
                <b>@LanguageService.GetKey("SorryErrorOccured")</b> - @TempData["Error"]
            </span>
        </div>
    }
    
    <h4>@LanguageService.GetKey("CreateThread_EnterNameForThread")</h4>

    <form method="post" asp-action="CreateThread" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="NewThreadName">@LanguageService.GetKey("CreateThread_NewThreadName")</label>
            <input asp-for="NewThreadName" class="form-control my-button" placeholder="@LanguageService.GetKey("CreateThread_NewThreadNamePlaceholder")"/>
            <span asp-validation-for="NewThreadName" class="text-danger"></span>
        </div>
        <div class="form-group account-buttons">
            <button type="submit" class="btn btn-primary btn-danger float-right my-button">@LanguageService.GetKey("CreateThread_Submit")</button>
            <a class="btn btn-outline-secondary my-button" asp-controller="Admin" asp-action="Index">@LanguageService.GetKey("Cancel")</a>
        </div>
    </form>
}
else
{
    <h3>@LanguageService.GetKey("CreateThread_NoPermission")</h3>
}