@*
    Thread deleting page for admin
*@

@inject ILanguageService LanguageService
@inject IThreadsRepository ThreadsRepository

@{
    ViewData["Title"] = LanguageService.GetKey("DeleteThread_Title");
}

@model DeleteThreadViewModel

@{
    var allThreads = await ThreadsRepository.GetAllThreads();
    var availableThreads = allThreads.Select(x => new SelectListItem()
    {
        Value = x.Thread,
        Text = x.Thread,
    });

    var firstThread = availableThreads.First();
    Model.SelectedThreadName = firstThread != null ? firstThread.Value : string.Empty;

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>
                <b>@LanguageService.GetKey("SorryErrorOccured")</b> - @TempData["Error"]
            </span>
        </div>
    }

    <h4>@LanguageService.GetKey("DeleteThread_Select"):</h4>

    <form method="post" asp-action="DeleteThread" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="SelectedThreadName">@LanguageService.GetKey("DeleteThread_Subtitle")</label>
            <select asp-for="SelectedThreadName" asp-items="@availableThreads" class="form-control">
                <option>--@LanguageService.GetKey("DeleteThread_FirstSelectionElement")--</option>
            </select>
            <span asp-validation-for="SelectedThreadName" class="text-danger"></span>
        </div>
        <div class="form-group account-buttons">
            <button type="submit" class="btn btn-primary btn-danger float-right my-button">@LanguageService.GetKey("DeleteThread_Submit")</button>
            <a class="btn btn-outline-secondary my-button" asp-controller="Admin" asp-action="Index">@LanguageService.GetKey("Cancel")</a>
        </div>
    </form>
}