@*
    Admin panel
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("AdminPanel_Title");
}

@model CredentialsViewModel

@{
    var claims = Model.ClaimsPrincipal;
    var user = Model.User;

    if (user == null ||
        claims == null ||
        !claims.IsAdmin())
    {
        <h3>@LanguageService.GetKey("AdminPanel_NoPermission")</h3>
    }
    else
    {
        <h3>@LanguageService.GetKey("AdminPanel_HelloAdmin") <b>@user.UserName</b>!</h3>
        <div>
            <a asp-controller="Admin" asp-action="CreateThread" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("AdminPanel_CreateThread")</a>
        </div>
        <div>
            <a asp-controller="Admin" asp-action="DeleteThread" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("AdminPanel_DeleteThread")</a>
        </div>
    }
}