@*
    User's profile
*@

@inject ILanguageService LanguageService
@inject IImagePathHelper ImagePathHelper

@{
    ViewData["Title"] = LanguageService.GetKey("UserDetails_Title");
}

@model UserDetailsViewModel

@{
    var user = Model.User;
    var profilePicture = Model.ProfilePicture;

    @if (user == null)
    {
        <h3>@LanguageService.GetKey("UserDetails_Nothing")</h3>
    }
    else
    {
        var currentUserId = User.GetUserId();
        var isOwner = currentUserId != string.Empty &&
            currentUserId == user.Id;

        ViewData["Title"] = $"{LanguageService.GetKey("UserDetails_ProfileOf")} {user.UserName}";

        <h3 class="title-text">@LanguageService.GetKey("UserDetails_ProfileOf") @user.UserName</h3>

        <div class="note-author">
            <div class="thumb">
                <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(profilePicture.ImageFileName)">
                    <img src="@ImagePathHelper.GetPath(profilePicture.ImageFileName)" asp-append-version="true">
                </a>

                @if (isOwner)
                {
                    <a class="btn btn-sm btn-outline-secondary my-button avatar-button">@LanguageService.GetKey("UserDetails_ItsMe")</a>
                }
                else
                {
                    <a asp-controller="Users" asp-action="Notes" asp-route-userId="@user.Id" class="btn btn-sm btn-outline-secondary my-button avatar-button">@LanguageService.GetKey("UserDetails_NotesButton") @user.UserName</a>
                }
            </div>

            <p class="title-text">@user.Status</p>
        </div>

        if (isOwner)
        {
            <div>
                <div class="note-controls">
                    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-sm btn-outline-secondary my-button edit-profile-button">@LanguageService.GetKey("UserDetails_GoToMyDashboard")</a>
                </div>
            </div>
        }
    }
}