@*
    List of user's notes
*@

@{
    ViewData["Title"] = "User's notes";
}

@model UserNotesViewModel

@{
    var user = Model.User;
    var profilePicture = Model.ProfilePicture;
    var notesDetails = Model.Notes;
    var pagingVM = Model.PagingViewModel;

    @if (user == null)
    {
        <h2>This user doesn't exist.</h2>
    }
    else
    {
        ViewData["Title"] = $"{user.UserName}'s notes";

        <div>
            <img width="100" height="100" src="@ImagePathHelper.GetPath(profilePicture.ImageFileName)" asp-append-version="true"/>
            <a asp-controller="Users" asp-action="Details" asp-route-userId="@user.Id" class="btn btn-sm btn-outline-secondary">@user.UserName</a>
            <h4>@user.Status</h4>

            <h3>Notes of user <b>@user.UserName</b></h3>
        </div>

        @foreach (var noteDetail in notesDetails)
        {
            var note = noteDetail.Note;
            if (note == null)
            {
                continue;
            }

            var images = noteDetail.Images;
            var thread = noteDetail.Thread;

            <h3>@note.Title</h3>
            <h4>@note.Description</h4>

            @foreach (var image in images)
            {
                <img src="@ImagePathHelper.GetPath(image.ImageFileName)" asp-append-version="true" />
            }

            @if (thread != null)
            {
                <h4>Thread:</h4>
                <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary">@thread.Thread</a>
            }

            <div>
                @if (User.IsAdmin() ||
                    User.IsOwner(note))
                {
                    <a asp-controller="Notes" asp-action="Edit" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a asp-controller="Notes" asp-action="Delete" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">Delete</a>
                }

                <a asp-controller="Notes" asp-action="Details" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
        }

        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                @if (pagingVM.IsValidPage)
                {
                    <a type="button" class="btn btn-sm btn-outline-primary @pagingVM.PrevDisabled" asp-action="Notes" asp-route-page="@(pagingVM.Page - 1)">
                        Prev
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-primary @pagingVM.NextDisabled" asp-action="Notes" asp-route-page="@(pagingVM.Page + 1)">
                        Next
                    </a>
                    <span class="text-muted text-small">Results @pagingVM.ResultStart - @pagingVM.ResultEnd of @pagingVM.TotalItems</span>
                }
            </div>
        </div>
    }
}