@*
    List of user's notes
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("UserNotes_Title");
}

@model UserNotesViewModel

@if (Model == null)
{
    <h3>@LanguageService.GetKey("UserNotes_Nothing")</h3>
}
else
{
    var user = Model.User;
    var profilePicture = Model.ProfilePicture;
    var notesDetails = Model.Notes;
    var pagingVM = Model.PagingViewModel;

    @if (user == null)
    {
        <h3>@LanguageService.GetKey("UserNotes_Nothing")</h3>
    }
    else
    {
        ViewData["Title"] = $"{LanguageService.GetKey("UserNotes_NotesOfUser")} {user.UserName}";

        <div>
            <div class="thumb">
                <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(profilePicture.ImageFileName)">
                    <img src="@ImagePathHelper.GetPath(profilePicture.ImageFileName)" asp-append-version="true">
                </a>
            </div>

            <a asp-controller="Users" asp-action="Details" asp-route-userId="@user.Id" class="btn btn-sm btn-outline-secondary">@user.UserName</a>
            <h4>@user.Status</h4>
        </div>

        <h3>@LanguageService.GetKey("UserNotes_NotesOfUser") <b>@user.UserName</b></h3>

        var noteNumber = 0;

        @foreach (var noteDetail in notesDetails)
        {
            var note = noteDetail.Note;
            if (note == null)
            {
                continue;
            }

            var images = noteDetail.Images;
            var thread = noteDetail.Thread;

            <h3>@note.Title</h3>
            <h4>@note.Description</h4>

            <div class="gallery-column">
                @foreach (var image in images)
                {
                    var imagePath = ImagePathHelper.GetPath(image.ImageFileName);
                    var href = ImagePathHelper.GetHref(image.ImageFileName);

                    <div class="thumb">
                        <a class="fancybox-frame" data-fancybox="gallery-@noteNumber" href="@href">
                            <img src="@imagePath" asp-append-version="true">
                        </a>
                    </div>
                }
            </div>

            @if (thread != null)
            {
                <h4>@LanguageService.GetKey("Thread"):</h4>
                <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary">@thread.Thread</a>
            }

            <div>
                @if (User.IsAdmin() ||
                    User.IsOwner(note))
                {
                    <a asp-controller="Notes" asp-action="Edit" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("Edit")</a>
                    <a asp-controller="Notes" asp-action="Delete" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("Delete")</a>
                }

                <a asp-controller="Notes" asp-action="Details" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("Details")</a>
            </div>

            noteNumber += 1;
        }

        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                @if (pagingVM.IsValidPage)
                {
                    <a type="button" class="btn btn-sm btn-outline-primary @pagingVM.PrevDisabled" asp-action="Notes" asp-route-page="@(pagingVM.Page - 1)">
                        @LanguageService.GetKey("PaginationResults_Prev")
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-primary @pagingVM.NextDisabled" asp-action="Notes" asp-route-page="@(pagingVM.Page + 1)">
                        @LanguageService.GetKey("PaginationResults_Next")
                    </a>
                    <span class="text-muted text-small">@LanguageService.GetKey("PaginationResults") @pagingVM.ResultStart - @pagingVM.ResultEnd @LanguageService.GetKey("PaginationResults_of") @pagingVM.TotalItems</span>
                }
            </div>
        </div>
    }
}