@*
    List of User's Ratings
*@

@model (UserModel, List<(RatingModel, NoteModel)>)

@{
    var user = Model.Item1;
    var ratingsAndNotes = Model.Item2;
}

<img width="100" height="100" src="@user.ProfilePicturePath"/>
<h1>@user.Name</h1>
<h2>@user.Status</h2>
<h3>Ratings of user @user.Name</h3>
@foreach (var ratingAndNote in ratingsAndNotes)
{
    var rating = ratingAndNote.Item1;
    var note = ratingAndNote.Item2;

    <h3>@note.Title</h3>
    <h4>@note.Description</h4>
    <h3>Rating: @rating.Score</h3>
    <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View the Note</a>
}