@*
    List of User's Ratings
*@

@model UserRatingsViewModel

@if (Model == null)
{
    <h2>This user doesn't exist.</h2>
}
else
{
    var user = Model.User;
    var ratingsOfNotes = Model.RatingsOfNotes;
    var profilePicture = Model.ProfilePicture;

    <img width="100" height="100" src="@($"~/images/{profilePicture.ImageFileName}")" asp-append-version="true"/>
    <h1>@user.Name</h1>
    <h2>@user.Status</h2>
    <h3>Ratings of user @user.Name</h3>
    @foreach (var ratingOfNote in ratingsOfNotes)
    {
        var rating = ratingOfNote.Rating;
        var note = ratingOfNote.Note;

        <h3>@note.Title</h3>
        <h4>@note.Description</h4>
        <h3>Rating: @rating.Score</h3>
        <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
        <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Edit</a>
        <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Delete</a>
    }
}