@*
    Wrong page error
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("ErrorWrongPage_Title");
}

@model WrongPageViewModel

<h2>@LanguageService.GetKey("ErrorWrongPage_Text1")</h2>
<h3>@LanguageService.GetKey("ErrorWrongPage_Text2") @Model.PageSize @LanguageService.GetKey("ErrorWrongPage_Text3") @Model.Page</h3>