@*
    Delete note page
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("DeleteNote_Title");
}

@model DeleteNoteViewModel

@if (User.IsAuthenticated())
{
    var noteDetails = Model.NoteDetails;

    if (noteDetails == null ||
        noteDetails.Note == null)
    {
        <h3>@LanguageService.GetKey("DeleteNote_Nothing")</h3>

        return;
    }

    var note = noteDetails.Note;
    var thread = noteDetails.Thread;
    var images = noteDetails.Images;
    var author = noteDetails.Author;
    var authorProfilePicture = noteDetails.ProfilePicture;

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>
                <b>@LanguageService.GetKey("SorryErrorOccured")</b> - @TempData["Error"]
            </span>
        </div>
    }

    <h1>@LanguageService.GetKey("DeleteNote_AreYouSure")</h1>

    <div>
        @if (authorProfilePicture != null)
        {
            <div class="thumb">
                <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(authorProfilePicture.ImageFileName)">
                    <img src="@ImagePathHelper.GetPath(authorProfilePicture.ImageFileName)" asp-append-version="true">
                </a>
            </div>
        }
        else
        {
            <div class="thumb">
                <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetDefaultImageHref()">
                    <img src="@ImagePathHelper.GetDefaultImagePath()" asp-append-version="true">
                </a>
             </div>
        }

        @if (author != null)
        {
            <a asp-controller="Users" asp-action="Details" asp-route-userId="@author.Id" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("DeleteNote_Author"): @author.UserName</a>
        }
        else
        {
            <a class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("DeleteNote_UnknownAuthor")</a>
        }
    </div>

    <div>
        <input type="hidden" value="NoteId" id="NoteId"/>
        <div class="form-group">
            <label asp-for="@note.Title">@LanguageService.GetKey("DeleteNote_NoteTitle")</label>
            <input asp-for="@note.Title" class="form-control" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="@note.Description">@LanguageService.GetKey("DeleteNote_NoteDescription")</label>
            <input asp-for="@note.Description" class="form-control" readonly/>
        </div>

        <div class="gallery-column">
            @foreach (var image in images)
            {
                var imagePath = ImagePathHelper.GetPath(image.ImageFileName);
                var href = ImagePathHelper.GetHref(image.ImageFileName);

                <div class="thumb">
                    <a class="fancybox-frame" data-fancybox="gallery" href="@href">
                        <img src="@imagePath" asp-append-version="true">
                    </a>
                </div>
            }
        </div>

        @if (thread != null)
        {
            <h4>@LanguageService.GetKey("Thread"):</h4>
            <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary">@thread.Thread</a>
        }
    </div>

    <form method="post" asp-action="Delete">
        <button type="submit" class="btn btn-danger float-right mt-3">@LanguageService.GetKey("DeleteNote_Submit")</button>
    </form>
}
else
{
    <h3>@LanguageService.GetKey("DeleteNote_NoPermission")</h3>
}