@*
    Details of selected note
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("NoteDetails_PageTitle");
}

@model NoteDetailsViewModel

@{
    var note = Model.Note;
    if (note == null)
    {
        <h3>@LanguageService.GetKey("NoteDetails_DoesntExist")</h3>

        return;
    }

    ViewData["Title"] = $"{@LanguageService.GetKey("NoteDetails_PageTitleMinified")}: {note.Title.Minify()}";

    var thread = Model.Thread;
    var images = Model.Images;
    var author = Model.Author;
    var authorProfilePicture = Model.ProfilePicture;

    <div>
        <div>
            @if (authorProfilePicture != null)
            {
                <div class="thumb">
                    <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(authorProfilePicture.ImageFileName)">
                        <img src="@ImagePathHelper.GetPath(authorProfilePicture.ImageFileName)" asp-append-version="true">
                    </a>
                </div>
            }
            else
            {
                <div class="thumb">
                    <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetDefaultImageHref()">
                        <img src="@ImagePathHelper.GetDefaultImagePath()" asp-append-version="true">
                    </a>
                </div>
            }

            @if (author != null)
            {
                <a asp-controller="Users" asp-action="Details" asp-route-userId="@author.Id" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("DeleteNote_Author"): @author.UserName</a>
            }
            else
            {
                <a class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("DeleteNote_UnknownAuthor")</a>
            }
        </div>

        <h3>@note.Title</h3>
        <h4>@note.Description</h4>

        <div class="gallery-column">
            @foreach (var image in images)
            {
                var imagePath = ImagePathHelper.GetPath(image.ImageFileName);
                var href = ImagePathHelper.GetHref(image.ImageFileName);

                <div class="thumb">
                    <a class="fancybox-frame" data-fancybox="gallery" href="@href">
                        <img src="@imagePath" asp-append-version="true">
                    </a>
                </div>
            }
        </div>

        @if (thread != null)
        {
            <h4>@LanguageService.GetKey("Thread")Thread:</h4>
            <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary">@thread.Thread</a>
        }

        <div>
            @if (User.IsAdmin() ||
                User.IsOwner(note))
            {
                <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("Edit")</a>
                <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("Delete")</a>
            }

            <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">@LanguageService.GetKey("Details")</a>
        </div>
    </div>
}