@*
    Details of selected note
*@

@inject LanguageService LanguageService
@inject ImagePathHelper ImagePathHelper

@{
    ViewData["Title"] = LanguageService.GetKey("NoteDetails_PageTitle");
}

@model NoteDetailsViewModel

@if (Model.Note == null)
{
    <h3>@LanguageService.GetKey("NoteDetails_DoesntExist")</h3>

    return;
}

@{
    var note = Model.Note;

    ViewData["Title"] = $"{note.Title}";

    var thread = Model.Thread;
    var images = Model.Images;
    var author = Model.Author;
    var authorProfilePicture = Model.ProfilePicture;

    <div class="note">
        <div class="note-author">
            <div class="thumb">
                <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(authorProfilePicture.ImageFileName)">
                    <img src="@ImagePathHelper.GetPath(authorProfilePicture.ImageFileName)" asp-append-version="true">
                </a>

                @if (author != null)
                {
                    <a asp-controller="Users" asp-action="Details" asp-route-userId="@author.Id" class="btn btn-sm btn-outline-secondary my-button avatar-button">@author.UserName</a>
                }
                else
                {
                    <a class="btn btn-sm btn-outline-secondary avatar-button">@LanguageService.GetKey("DeleteNote_UnknownAuthor")</a>
                }
            </div>
        </div>

        @if (thread != null)
        {
            <div>
                <div class="note-controls">
                    <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary my-button">@thread.Thread</a>
                </div>
            </div>
        }

        <h4 class="title-text"><b>@note.Title</b></h4>
        <p class="title-text note-description">@note.Description</p>

        <div class="gallery-column">
            @foreach (var image in images)
            {
                var imagePath = ImagePathHelper.GetPath(image.ImageFileName);
                var href = ImagePathHelper.GetHref(image.ImageFileName);

                <div class="thumb">
                    <a class="fancybox-frame" data-fancybox="gallery" href="@href">
                        <img src="@imagePath" asp-append-version="true">
                    </a>
                </div>
            }
        </div>


        @if (User.IsAdmin() ||
            User.IsOwner(note))
        {
            <div class="note-controls">
                <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Edit")</a>
                <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Delete")</a>
            </div>
        }
    </div>
}