@*
    Edit note page
*@

@inject LanguageService LanguageService
@inject ImagePathHelper ImagePathHelper
@inject NotesRepository NotesRepository

@{
    ViewData["Title"] = LanguageService.GetKey("EditNote_Title");
}

@model EditNoteViewModel

@if (User.IsAuthenticated())
{
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>
                <b>@LanguageService.GetKey("SorryErrorOccured")</b> - @TempData["Error"]
            </span>
        </div>
    }

    var allThreads = await NotesRepository.GetAvailableNoteThreads();
    var availableThreads = allThreads.Select(x => new SelectListItem()
    {
        Value = x.Thread,
        Text = x.Thread,
    });

    var threadOfNote = await NotesRepository.GetNoteThread(Model.NoteId);
    if (threadOfNote != null)
    {
        foreach (var availableThread in availableThreads)
        {
            if (availableThread.Value == threadOfNote.Thread)
            {
                Model.SelectedThread = threadOfNote.Thread;
                availableThread.Selected = true;

                break;
            }
        }
    }

    var images = await NotesRepository.GetNoteImagesNoTracking(Model.NoteId);

    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" value="NoteId" id="NoteId"/>
        <div class="form-group">
            <label asp-for="Title">@LanguageService.GetKey("EditNote_NoteTitle")</label>
            <input asp-for="Title" class="form-control" placeholder="@LanguageService.GetKey("EditNote_NoteTitlePlaceholder")" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">@LanguageService.GetKey("EditNote_Description")</label>
            <textarea asp-for="Description" class="form-control note-textarea" placeholder="@LanguageService.GetKey("EditNote_DescriptionPlaceholder")"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedThread">@LanguageService.GetKey("EditNote_SelectedThread")</label>
            <select asp-for="SelectedThread" asp-items="@availableThreads" class="form-control">
                <option>--@LanguageService.GetKey("EditNote_ThreadSelection")--</option>
            </select>
            <span asp-validation-for="SelectedThread" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>@LanguageService.GetKey("EditNote_ImageReminder")</label>
            <div class="gallery-column">
                @foreach (var image in images)
                {
                    var imagePath = ImagePathHelper.GetPath(image.ImageFileName);
                    var href = ImagePathHelper.GetHref(image.ImageFileName);

                    <div class="thumb">
                        <a class="fancybox-frame" data-fancybox="gallery" href="@href">
                            <img src="@imagePath" asp-append-version="true">
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Images">@LanguageService.GetKey("EditNote_Images")</label>
            <input asp-for="Images" class="form-control my-button" placeholder="@LanguageService.GetKey("EditNote_ImagesPlaceholder")" accept="image/*" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <div class="form-group account-buttons">
            <button type="submit" class="btn btn-primary float-right my-button">@LanguageService.GetKey("EditNote_Submit")</button>
            <a class="btn btn-outline-secondary my-button" asp-controller="Dashboard" asp-action="Index">@LanguageService.GetKey("Cancel")</a>
        </div>
    </form>
}
else
{
    <h3>@LanguageService.GetKey("EditNote_NoPermission")</h3>
}
