@*
    List of available notes
*@

@inject ILanguageService LanguageService
@inject IImagePathHelper ImagePathHelper

@{
    ViewData["Title"] = LanguageService.GetKey("NotesList_Title");

    var currentUser = new ClaimsPrincipalWrapper(User);
}

@model NoteSummariesListViewModel

@if (!Model.NotesSummaries.Any())
{
    <h3>@LanguageService.GetKey("NotesList_Nothing")</h3>
}
else
{
    var notesSummaries = Model.NotesSummaries;
    var pagingVM = Model.PagingViewModel;

    <h1>@LanguageService.GetKey("NotesList_Notes")</h1>

    foreach (var noteSummary in notesSummaries)
    {
        var note = noteSummary.Note;
        if (note == null)
        {
            continue;
        }

        var thread = noteSummary.Thread;
        var firstImage = noteSummary.FirstImage;
        var author = noteSummary.Author;
        var authorProfilePicture = noteSummary.ProfilePicture;

        <div class="note">
            <div class="note-author">
                <div class="thumb">
                    <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(authorProfilePicture.ImageFileName)">
                        <img src="@ImagePathHelper.GetPath(authorProfilePicture.ImageFileName)" asp-append-version="true">
                    </a>

                    @if (author != null)
                    {
                        <a asp-controller="Users" asp-action="Details" asp-route-userId="@author.Id" class="btn btn-sm btn-outline-secondary my-button avatar-button">@author.UserName</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-outline-secondary avatar-button">@LanguageService.GetKey("DeleteNote_UnknownAuthor")</a>
                    }
                </div>
            </div>

            @if (thread != null)
            {
                <div>
                    <div class="note-controls">
                        <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary my-button">@thread.Thread</a>
                    </div>
                </div>
            }

            <h4 class="title-text"><b>@note.Title</b></h4>
            <p class="title-text note-description">@note.Description</p>

            <div class="gallery-column">
                @if (firstImage != null)
                {
                    <div class="thumb">
                        <a class="fancybox-frame" data-fancybox href="@ImagePathHelper.GetHref(firstImage.ImageFileName)">
                            <img src="@ImagePathHelper.GetPath(firstImage.ImageFileName)" asp-append-version="true">
                        </a>
                    </div>
                }
            </div>

            <div class="note-controls">
                @if (currentUser.IsAdmin() ||
                    currentUser.IsOwner(note))
                {
                    <a asp-controller="Notes" asp-action="Edit" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Edit")</a>
                    <a asp-controller="Notes" asp-action="Delete" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Delete")</a>
                }

                <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Details")</a>
            </div>
        </div>
    }

    <div class="d-flex align-items-center mb-4 paginator-control">
        @if (pagingVM.IsValidPage)
        {
            <a class="btn btn-sm btn-outline-primary @pagingVM.PrevDisabled" asp-controller="Notes" asp-action="Index" asp-route-page="@(pagingVM.Page - 1)">
                @LanguageService.GetKey("PaginationResults_Prev")
            </a>
            <a class="btn btn-sm btn-outline-primary @pagingVM.NextDisabled" asp-controller="Notes" asp-action="Index" asp-route-page="@(pagingVM.Page + 1)">
                @LanguageService.GetKey("PaginationResults_Next")
            </a>
            <span class="text-muted text-small">@LanguageService.GetKey("PaginationResults") @pagingVM.ResultStart - @pagingVM.ResultEnd @LanguageService.GetKey("PaginationResults_of") @pagingVM.TotalItems</span>
        }
    </div>
}