@*
    List of available Notes
*@

@model IEnumerable<NoteSummary>

@if (Model.Count() == 0)
{
    <h2>There are no notes yet.</h2>
}
else
{
    <h1>Notes</h1>  
    @foreach (var item in Model)
    {
        var note = item.Note;
        var score = item.Score;
        var tags = item.Tags;

        <div>
            <h3>@note.Title</h3>
            <h4>@note.Description</h4>
            <h4>Rating: @score</h4>
            <h4>Tags:</h4>
            @foreach (var tag in tags)
            {
                <a asp-controller="Tags" asp-action="GetByTag" asp-route-tag="@tag" class="btn btn-sm btn-outline-secondary">@tag</a>
            }
            <div>
                @if (User != null &&
                    User.Identity != null &&
                    User.Identity.IsAuthenticated &&
                    User.IsInRole(UserRoles.Admin))
                {
                    <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Delete</a>
                }

                <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
        </div>
    }
}