@*
    List of available notes
*@

@{
    ViewData["Title"] = "Notes";
}

@model NoteSummariesListViewModel

@if (!Model.NotesSummaries.Any())
{
    <h2>There are no notes yet.</h2>
}
else
{
    var notesSummaries = Model.NotesSummaries;
    var pagingVM = Model.PagingViewModel;

    <h1>Notes</h1>
    foreach (var noteSummary in notesSummaries)
    {
        var note = noteSummary.Note;
        if (note == null)
        {
            continue;
        }

        var thread = noteSummary.Thread;
        var firstImage = noteSummary.FirstImage;
        var author = noteSummary.Author;
        var authorProfilePicture = noteSummary.ProfilePicture;

        <div>
            <div>
                @if (authorProfilePicture != null)
                {
                    <div class="thumb">
                        <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(authorProfilePicture.ImageFileName)">
                            <img src="@ImagePathHelper.GetPath(authorProfilePicture.ImageFileName)" asp-append-version="true">
                        </a>
                    </div>
                }
                else
                {
                    <div class="thumb">
                        <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetDefaultImageHref()">
                            <img src="@ImagePathHelper.GetDefaultImagePath()" asp-append-version="true">
                        </a>
                    </div>
                }

                @if (author != null)
                {
                    <a asp-controller="Users" asp-action="Details" asp-route-userId="@author.Id" class="btn btn-sm btn-outline-secondary">Author: @author.UserName</a>
                }
                else
                {
                    <a class="btn btn-sm btn-outline-secondary">Unknown author</a>
                }
            </div>

            <h3>@note.Title</h3>
            <h4>@note.Description</h4>

            @if (firstImage != null)
            {
                <div class="gallery-column">
                    <div class="thumb">
                        <a class="fancybox-frame" data-fancybox href="@ImagePathHelper.GetHref(firstImage.ImageFileName)">
                            <img src="@ImagePathHelper.GetPath(firstImage.ImageFileName)" asp-append-version="true">
                        </a>
                    </div>
                </div>
            }

            @if (thread != null)
            {
                <h4>Thread:</h4>
                <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary">@thread.Thread</a>
            }

            <div>
                @if (User.IsAdmin() ||
                    User.IsOwner(note))
                {
                    <a asp-controller="Notes" asp-action="Edit" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a asp-controller="Notes" asp-action="Delete" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary">Delete</a>
                }

                <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
        </div>
    }

    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            @if (pagingVM.IsValidPage)
            {
                <a type="button" class="btn btn-sm btn-outline-primary @pagingVM.PrevDisabled" asp-action="Index" asp-route-page="@(pagingVM.Page - 1)">
                    Prev
                </a>
                <a type="button" class="btn btn-sm btn-outline-primary @pagingVM.NextDisabled" asp-action="Index" asp-route-page="@(pagingVM.Page + 1)">
                    Next
                </a>
                <span class="text-muted text-small">Results @pagingVM.ResultStart - @pagingVM.ResultEnd of @pagingVM.TotalItems</span>
            }
        </div>
    </div>
}