@*
    Home page
*@

@inject ILanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("Home_Title");

    var currentUser = new ClaimsPrincipalWrapper(User);
}

<div class="text-center">
    <h1 class="display-4">Image Sharing</h1>
    <p>@LanguageService.GetKey("Home_Subtitle")</p>
    <p>@LanguageService.GetKey("Home_Subtitle_cont") <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a> MVC.</p>

    <div>
        <p>
            @LanguageService.GetKey("Home_Begin1")
            <a asp-controller="Notes" asp-action="Index" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Home_Begin2")</a>
            @LanguageService.GetKey("Home_Begin3")
        </p>
    </div>

    <div>
        <p>
            @LanguageService.GetKey("Home_YouCanAlso"):
        </p>
    </div>

    <div>
        @if (currentUser.IsAuthenticated())
        {
            <a asp-controller="Notes" asp-action="Create" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Home_CreateNewNote")</a>
        }
        else
        {
            <p>
                <a asp-controller="Account" asp-action="Register" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Home_CreateAccount")</a>
                @LanguageService.GetKey("Home_Or")
                <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Home_SignIn")</a>
                @LanguageService.GetKey("Home_SignIn_cont")
            </p>
        }
    </div>
</div>