@*
    Profile edit page
*@

@inject LanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("EditUserProfile_Title");
}

@model EditUserProfileViewModel

@if (User.IsAuthenticated())
{
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>
                <b>@LanguageService.GetKey("SorryErrorOccured")</b> - @TempData["Error"]
            </span>
        </div>
    }

    <form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Status">@LanguageService.GetKey("EditUserProfile_StatusTitle")</label>
            <input asp-for="Status" class="form-control" placeholder="@LanguageService.GetKey("EditUserProfile_StatusPlaceholder")" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            @LanguageService.GetKey("EditUserProfile_PictureReminder")
        </div>
        <div class="thumb">
            <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(Model.ProfilePicture.ImageFileName)">
                <img src="@ImagePathHelper.GetPath(Model.ProfilePicture.ImageFileName)" asp-append-version="true">
            </a>
        </div>
        <div class="form-group">
            <label asp-for="NewProfilePicture">@LanguageService.GetKey("EditUserProfile_ProfilePictureTitle")</label>
            <input asp-for="NewProfilePicture" class="form-control" placeholder="@LanguageService.GetKey("EditUserProfile_ProfilePicturePlaceholder")" accept="image/*" />
            <span asp-validation-for="NewProfilePicture" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@LanguageService.GetKey("EditUserProfile_Submit")</button>
    </form>
}
else
{
    <h3>@LanguageService.GetKey("EditUserProfile_NoPermission")</h3>
}