@*
    Password edit page
*@

@inject ILanguageService LanguageService

@{
    ViewData["Title"] = LanguageService.GetKey("EditPassword_Title");
}

@model EditPasswordViewModel

@if (User.IsAuthenticated())
{
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>
                <b>@LanguageService.GetKey("SorryErrorOccured")</b> - @TempData["Error"]
            </span>
        </div>
    }

    <h4>@LanguageService.GetKey("EditPassword_FormTitle")</h4>

    <form method="post" asp-action="EditPassword" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="OldPassword">@LanguageService.GetKey("EditPassword_OldPassword")</label>
            <input asp-for="OldPassword" class="form-control" placeholder="@LanguageService.GetKey("EditPassword_OldPasswordPlaceholder")" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">@LanguageService.GetKey("EditPassword_NewPassword")</label>
            <input asp-for="NewPassword" class="form-control" placeholder="@LanguageService.GetKey("EditPassword_NewPasswordPlaceholder")" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword">@LanguageService.GetKey("EditPassword_ConfirmNewPassword")</label>
            <input asp-for="ConfirmNewPassword" class="form-control" placeholder="@LanguageService.GetKey("EditPassword_ConfirmNewPasswordPlaceholder")"/>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="form-group account-buttons">
            <button type="submit" class="btn btn-danger float-right my-button">@LanguageService.GetKey("EditPassword_Submit")</button>
            <a class="btn btn-outline-secondary my-button" asp-controller="Dashboard" asp-action="Index">@LanguageService.GetKey("Cancel")</a>
        </div>
    </form>
}
else
{
    <h3>@LanguageService.GetKey("EditPassword_NoPermission")</h3>
}
