@*
    Dashboard page
*@

@model DashboardViewModel

@if (!User.IsAuthenticated() ||
    Model == null)
{
    <div class="row">
        <span>
            You are not logged in!
        </span>
    </div>
}
else
{
    var notesDetails = Model.UserNotes;
    var ratingsModel = Model.UserRatings;
    var ratings = ratingsModel.UserRatingsOfNotes;
    var user = ratingsModel.User;
    var profilePicture = ratingsModel.ProfilePicture;

    if (user == null)
    {
        <h2>This dashboard doesn't exist.</h2>
    }
    else
    {
        <h2>Dashboard of user <b>@user.UserName</b></h2>
        <div>
            <img width="100" height="100" src="@ImagePathHelper.GetPath(profilePicture.ImageFileName)" asp-append-version="true"/>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="btn btn-sm btn-outline-secondary">@user.UserName</a>
            <h4>@user.Status</h4>
        </div>

        <div>
            <a asp-controller="Dashboard" asp-action="EditUserProfile" class="btn btn-sm btn-outline-secondary">Edit Profile</a>
        </div>

        var notesCount = notesDetails.Count();
        if (notesCount == 0)
        {
            <h3>User don't have any notes</h3>
        }
        else
        {
            <h3>Notes (@notesCount)</h3>

            @foreach (var noteDetail in notesDetails)
            {
                var note = noteDetail.Note;
                if (note == null)
                {
                    continue;
                }

                var images = noteDetail.Images;
                var score = noteDetail.Score;
                var thread = noteDetail.Thread;

                <h3>@note.Title</h3>
                <h4>@note.Description</h4>

                @foreach (var image in images)
                {
                    <img src="@ImagePathHelper.GetPath(image.ImageFileName)" asp-append-version="true" />
                }

                <h3>Rating: @score</h3>
                <h4>Thread:</h4>
                <a asp-controller="Threads" asp-action="GetByThread" asp-route-tag="@thread" class="btn btn-sm btn-outline-secondary">@thread</a>

                <div>
                    @if (User.IsAdmin() ||
                        User.IsOwner(note))
                    {
                        <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Delete</a>
                    }

                    <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
            }
        }

        var ratingsCount = @ratings.Count();
        if (ratingsCount == 0)
        {
            <h3>User don't have any ratings</h3>
        }
        else
        {
            <h3>Ratings (@ratingsCount)</h3>

            @foreach (var userRatingOfNote in ratings)
            {
                var noteDetail = userRatingOfNote.NoteDetails;
                var rating = userRatingOfNote.Rating;

                var note = noteDetail.Note;
                if (note == null)
                {
                    continue;
                }

                var images = noteDetail.Images;
                var score = noteDetail.Score;
                var thread = noteDetail.Thread;

                <h3>@note.Title</h3>
                <h4>@note.Description</h4>

                @foreach (var image in images)
                {
                    <img src="@ImagePathHelper.GetPath(image.ImageFileName)" asp-append-version="true" />
                }

                <h3>Rating: @score</h3>
                <h3>Rating from @user.UserName: @rating.Score</h3>
                <h4>Thread:</h4>
                <a asp-controller="Threads" asp-action="GetByThreads" asp-route-tag="@thread" class="btn btn-sm btn-outline-secondary">@thread</a>

                <div>
                    @if (User.IsAdmin() ||
                        User.IsOwner(note))
                    {
                        <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Delete</a>
                    }

                    <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
            }
        }
    }
}