@*
    List of notes marked with the certain tag
*@

@model TaggedNotesViewModel

@{
    var selectedTag = Model.Tag;
    var taggedNotesDetails = Model.TaggedNotesDetails;

    if (selectedTag == string.Empty ||
        taggedNotesDetails.Count() == 0)
    {
        <div class="row">
            <span>
                There aren't any notes.
            </span>
        </div>
    }
    else
    {
        <h2>Notes with tag: @selectedTag</h2>
        @foreach (var taggedNoteDetail in taggedNotesDetails)
        {
            var note = taggedNoteDetail.Note;
            if (note == null)
            {
                continue;
            }

            var score = taggedNoteDetail.Score;
            var tags = taggedNoteDetail.Tags;
            var images = taggedNoteDetail.Images;
            var author = taggedNoteDetail.Author;
            var authorProfilePicture = taggedNoteDetail.ProfilePicture;

            <div>
                <div>
                    @if (author != null)
                    {
                        <img width="100" height="100" src="@ImagePathHelper.GetPath(authorProfilePicture.ImageFileName)" asp-append-version="true" />
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@author.Id" class="btn btn-sm btn-outline-secondary">Author: @author.UserName</a>
                    }
                    else
                    {
                        <img width="100" height="100" src="@ImagePathHelper.GetDefaultImagePath()" asp-append-version="true" />
                        <a class="btn btn-sm btn-outline-secondary">Unknown author</a>
                    }
                </div>

                <h3>@note.Title</h3>
                <h4>@note.Description</h4>

                @foreach (var image in images)
                {
                    <img src="@ImagePathHelper.GetPath(image.ImageFileName)" asp-append-version="true" />
                }

                <h3>Rating: @score</h3>
                <h4>Tags:</h4>
                @foreach (var tag in tags)
                {
                    <a asp-controller="Tags" asp-action="GetByTag" asp-route-tag="@tag" class="btn btn-sm btn-outline-secondary">@tag</a>
                }

                <div>
                    @if (User.IsAdmin() ||
                        User.IsOwner(note))
                    {
                        <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">Delete</a>
                    }

                    <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
            </div>
        }
    }
}