@*
    List of Notes marked with the certain Tag
*@

@model NotesMarkedByTag

@if (Model == null)
{
    <h2>Invalid tag!</h2>
}
else
{
    var tag = Model.Tag;
    var tagsAndScoresOfNotes = Model.Notes;

    <h1>Notes with tag: @tag</h1>
    @foreach (var tagsAndScoreOfNote in tagsAndScoresOfNotes)
    {
        var note = tagsAndScoreOfNote.Note;
        var score = tagsAndScoreOfNote.Score;
        var tags = tagsAndScoreOfNote.Tags;

        <h3>@note.Title</h3>
        <h4>@note.Description</h4>
        <h4>Rating: @score</h4>
        <h4>Tags:</h4>
        @foreach (var noteTag in tags)
        {
            <a asp-controller="Tags" asp-action="GetByTag" asp-route-tag="@noteTag" class="btn btn-sm btn-outline-secondary">@noteTag</a>
        }
        <div>
            <a asp-controller="Notes" asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-outline-secondary">View</a>
        </div>
    }
}