@*
    List of notes marked with the certain thread
*@

@inject ILanguageService LanguageService
@inject IImagePathHelper ImagePathHelper

@{
    ViewData["Title"] = LanguageService.GetKey("GetByThread_Title");

    var currentUser = new ClaimsPrincipalWrapper(User);
}

@model NotesFromThreadViewModel

@{
    var selectedThread = Model.Thread;
    var threadNotesDetails = Model.NotesDetails;
    var pagingVM = Model.PagingViewModel;

    if (selectedThread == string.Empty ||
        !threadNotesDetails.Any())
    {
        <h3>@LanguageService.GetKey("GetByThread_Nothing")</h3>
    }
    else
    {
        ViewData["Title"] = $"{LanguageService.GetKey("DeleteNote_Thread")}: {selectedThread}";

        <h3>@LanguageService.GetKey("GetByThread_NotesFromThread"): <b>@selectedThread</b></h3>

        var noteNumber = 0;
        foreach (var threadNoteDetail in threadNotesDetails)
        {
            var note = threadNoteDetail.Note;
            if (note == null)
            {
                continue;
            }

            var thread = threadNoteDetail.Thread;
            var images = threadNoteDetail.Images;
            var author = threadNoteDetail.Author;
            var authorProfilePicture = threadNoteDetail.ProfilePicture;

            <div class="note">
                <div class="note-author">
                    <div class="thumb">
                        <a class="fancybox-frame profile-picture" data-fancybox href="@ImagePathHelper.GetHref(authorProfilePicture.ImageFileName)">
                            <img src="@ImagePathHelper.GetPath(authorProfilePicture.ImageFileName)" asp-append-version="true">
                        </a>

                        @if (author != null)
                        {
                            <a asp-controller="Users" asp-action="Details" asp-route-userId="@author.Id" class="btn btn-sm btn-outline-secondary my-button avatar-button">@author.UserName</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-outline-secondary avatar-button">@LanguageService.GetKey("DeleteNote_UnknownAuthor")</a>
                        }
                    </div>
                </div>

                @if (thread != null)
                {
                    <div>
                        <div class="note-controls">
                            <a asp-controller="Threads" asp-action="GetByThread" asp-route-thread="@thread.Thread" class="btn btn-sm btn-outline-secondary my-button">@thread.Thread</a>
                        </div>
                    </div>
                    
                }

                <h4 class="title-text"><b>@note.Title</b></h4>
                <p class="title-text note-description">@note.Description</p>

                <div class="gallery-column">
                    @foreach (var image in images)
                    {
                        var imagePath = ImagePathHelper.GetPath(image.ImageFileName);
                        var href = ImagePathHelper.GetHref(image.ImageFileName);

                        <div class="thumb">
                            <a class="fancybox-frame" data-fancybox="gallery-@noteNumber" href="@href">
                                <img src="@imagePath" asp-append-version="true">
                            </a>
                        </div>
                    }
                </div>

                <div class="note-controls">
                    @if (currentUser.IsAdmin() ||
                        currentUser.IsOwner(note))
                    {
                        <a asp-controller="Notes" asp-action="Edit" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Edit")</a>
                        <a asp-controller="Notes" asp-action="Delete" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Delete")</a>
                    }

                    <a asp-controller="Notes" asp-action="Details" asp-route-noteId="@note.NoteId" class="btn btn-sm btn-outline-secondary my-button">@LanguageService.GetKey("Details")</a>
                </div>
            </div>

            noteNumber += 1;
        }

        <div class="d-flex align-items-center mb-4 paginator-control">
            @if (pagingVM.IsValidPage)
            {
                <a class="btn btn-sm btn-outline-primary @pagingVM.PrevDisabled" asp-controller="Threads" asp-action="GetByThread" asp-route-page="@(pagingVM.Page - 1)">
                    @LanguageService.GetKey("PaginationResults_Prev")
                </a>
                <a class="btn btn-sm btn-outline-primary @pagingVM.NextDisabled" asp-controller="Threads" asp-action="GetByThread" asp-route-page="@(pagingVM.Page + 1)">
                    @LanguageService.GetKey("PaginationResults_Next")
                </a>
                <span class="text-muted text-small">@LanguageService.GetKey("PaginationResults") @pagingVM.ResultStart - @pagingVM.ResultEnd @LanguageService.GetKey("PaginationResults_of") @pagingVM.TotalItems</span>
            }
        </div>
    }
}